PORT=3002

# mailler
EMAIL_PROVIDER="local"
EMAIL_SENDER=''
# local email sever
EMAIL_HOST="localhost"
EMAIL_POST="1025"
# self-hosted email server 
# EMAIL_HOST=""
# EMAIL_USER="""
# EMAIL_PASS=""

DATABASE_URL="postgresql://user:pass@localhost:5432/db?schema=name"

MAILER_SERVICE_HOST=localhost
MAILER_SERVICE_PORT=3004