PORT=3004

# mailer
MAILER_PROVIDER="local"
MAILER_SENDER='it-esp@dol.go.th'
# local email sever
MAILER_HOST="localhost"
MAILER_POST="1025"
# self-hosted email server  
# MAILER_HOST="it-esp@dol.go.th"
# MAILER_USER="it-esp"
# MAILER_PASS="P@ss#256906"