PORT=3001
CORS_ORIGIN=https://esp-uat.dol.go.th

MASTER_SERVICE_HOST=localhost
MASTER_SERVICE_PORT=3002

REG_SERVICE_HOST=localhost
REG_SERVICE_PORT=3003

MAILER_SERVICE_HOST=localhost
MAILER_SERVICE_PORT=3004

